body {
  width: 300px;
}

.jira-opener {
  display: flex;
}

.jira-opener__form {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin-bottom: 0;
}

.jira-opener__form select,
.jira-opener__form input {
  font-size: 16px;
  padding: 2px 5px;
  height: 26px;
}

.jira-opener__form select:focus,
.jira-opener__form input:focus { 
  outline: none; 
}


.jira-opener__settings {
  height: 26px;
}

.jira-opener__settings img {
  width: 12px;
  height: 12px;
}